## CUSTOM IGNORES
bin
buildcfg
lib
obj
*.obj
*.user

build
!build/ALL_BUILD.vcxproj
!build/SimpleFileWatcher.vcxproj
!build/ZERO_CHECK.vcxproj
!build/lib.sln
!build/vs2013/SimpleFileWatcher/SimpleFileWatcher.vcxproj
